In [1]:
print('lets learn business analytics')
# Exeecute - SHIFT + ENTER

lets learn business analytics

In [2]:
2+3

5

In [5]:
a=4
b=3
c=a
a=b
b=c
print(a)

3

In [6]:
import pandas as pd # importing the entire pandas package

In [7]:
pd.__version__

'1.1.3'

In [8]:
obj = pd.Series([1,"Stephen",3.5,"Roy"])

# 1 - 0 
# Stephen - 1
# ....

In [9]:
obj

0          1
1    Stephen
2        3.5
3        Roy
dtype: object

In [10]:
obj[0]

1

In [11]:
obj.values

array([1, 'Stephen', 3.5, 'Roy'], dtype=object)

In [12]:
obj2 = pd.Series([1,'Stephen',3.5,'Roy'],index = ["a","b","c","d"])

In [13]:
obj2

a          1
b    Stephen
c        3.5
d        Roy
dtype: object

In [18]:
obj2["a"]

1

In [19]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
score= {"Richard":90, "Ayusha":80, "Vaibhav":85, "Chris":95}
result= pd.Series(score) # Converting my dictionary into a series
result

Richard    90
Ayusha     80
Vaibhav    85
Chris      95
dtype: int64

In [22]:
result["Ayusha"]

80

In [23]:
result[result>=90]

Richard    90
Chris      95
dtype: int64

In [25]:
result[result<90]=95
result

Richard    90
Ayusha     95
Vaibhav    95
Chris      95
dtype: int64

In [26]:
result

Richard    90
Ayusha     95
Vaibhav    95
Chris      95
dtype: int64

In [27]:
"Ayusha" in result # boolean

True

In [28]:
"Abhjeet" in result

False

In [29]:
result/10

Richard    9.0
Ayusha     9.5
Vaibhav    9.5
Chris      9.5
dtype: float64

In [30]:
result

Richard    90
Ayusha     95
Vaibhav    95
Chris      95
dtype: int64

In [31]:
result**2

Richard    8100
Ayusha     9025
Vaibhav    9025
Chris      9025
dtype: int64

In [32]:
result.isnull()

Richard    False
Ayusha     False
Vaibhav    False
Chris      False
dtype: bool